<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>NiFi REST-API access token provider</title>
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/style.css') }}"
    />
    <style>
      @import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap");
    </style>
  </head>
  <body>
    <h1 id="headline">API access token generator</h1>

    <div class="container" id="check_container">
      <h2>Connection test</h2>
      <input
        type="url"
        name="nifi-url"
        id="nifi-url"
        placeholder="https://my-nifi:8443/nifi-api/"
        pattern="https://.*"
        size="30"
      />
      <input
        type="button"
        value="Check connection"
        id="check_btn"
        onclick="check_connection()"
      />
    </div>
    <div class="container" id="token_container">
      <h2>Request token</h2>
      <input type="text" id="username" placeholder="Username" />
      <input
        type="password"
        name="password"
        id="password"
        placeholder="Password"
      />
      <input type="button" value="Get token" onclick="request_token()" />
    </div>
  </body>

  <script src="{{ url_for('static', filename='js/main.js') }}"></script>
</html>
